<div class="startup" layout='column' layout-align='center end' flex>
	<div "login" layout-margin>
		<div layout='column' layout-align='start center' layout-margin class='registration' flex>
		  <md-content class='registration' layout-padding layout='column' layout-align-md='column' layout-align-sm='column'>
		    <md-input-container layout-margin>
		        <label>Your name</label>
		        <input ng-model="details.name">
		    </md-input-container>
		    <md-input-container layout-margin>
		        <label>Username</label>
		        <input ng-model='details.username'>
		    </md-input-container>
		    <md-input-container layout-margin>
		      	<label>Email</label>
		    	<input type='email' ng-model="details.email">
		    </md-input-container>
		    <md-input-container layout-margin>
		     	<label>Password</label>
		      	<input ng-model='details.password'>
		    </md-input-container>
		    <md-input-container layout-margin>
		     	<label>Confirm password</label>
		      	<input ng-model='confirmPassword'>
		    </md-input-container>
				<md-button ng-click='register()' class="md-primary ">Register</md-button>
			</md-content>
	  </div>
	</div>
</div>


<md-whiteframe class="md-whiteframe-z1 register" layout='column' flex>
	<div class="register-bar">
	  <div class='register-title'>
	    <h1 class='md-display-2'>Here are some games going on Right Now!</h1>
	  
		</div>
	</div>
	<div startup-feed>
		
	</div>
</md-whiteframe>